@font-face {
        font-family: "Univers Light";
        src: url("fonts/UniversLTStd-Light.otf");
      }

body {
	font-family: "Univers Light", sans-serif, Arial;
	font-smoothing: subpixel-antialiased;
	background-color: #111;
	color: #aaa;
	font-size: 3em;
	padding: 0.5em;
}

a {
	color: white;
	text-decoration: none;
}

button {
	font-size: 0.75em;
}

i {
	cursor: help;
}

i:hover:after {
    content: "\2192" "\2009" attr(alt);
	margin-left: 0.5ch;
	margin-right: 0.5ch;
	color: grey;
}

.popup {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
    background: white;
}

.close {
	position: fixed;
    top: 20px;
	right: 20px;
}