@font-face {
        font-family: "Univers Light";
        src: url("fonts/UniversLTStd-Light.otf");
      }

body {
	font-family: "Univers Light", sans-serif, Arial;
	font-smoothing: subpixel-antialiased;
	background-color: #111;
	color: #ccc;
	font-size: 3vw;
	padding: 1.8vw;
}

a {
	color: white;
	text-decoration: none;
}

i {
	cursor: help;
}

i:hover:after {
    content: "\2192" "\2009" attr(alt);
	margin-left: 0.5ch;
	margin-right: 0.5ch;
	color: grey;
}

.popup {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
    background: #111;
}

.close {
	position: fixed;
    top: 2vw;
	right: 2vw;
}

.intro {
	color: #777;
}

@media (orientation: landscape) {
body {
	font-size: 1vw;
	max-width: 50ch;
	padding: 1vw;
}		
}