*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

::selection {
  background: #ddd;
}

a:hover, a.hover, a.active, b, h1 {
  color: #fff !important;	
}

body, body main .intro p a, body main .content p a, body .content p a, body .content .articles a, body footer a, body .close, body footer p a, .ajax-link .projectHover em {
  color: #ddd;
}

body main .intro, body main .content, body footer, .homeContentWrap p.hidden a, .articles a, .intro.selected a {
  color: #bbb;
}

::selection, .homeContentWrap p.hidden, .intro.selected p {
  color: #111;	
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Univers LT Std";
  src: url("/fonts/UniversLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html, body {
  height: 100%;
}

body {
  font-family: "Univers LT Std", sans-serif, Arial;
  font-size: max(4vw);
  line-height: 1.4;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 3vw;
}

#homepage {
  animation: bgfade 50s infinite;
}
  @keyframes bgfade {
    0% { background-image: url("/images/backgrounds/ftt.gif"); }
    5% { background-image: url("/images/backgrounds/wahthy.gif"); }
	20% { background-image: url("/images/backgrounds/wahthy.gif"); }
    25% { background-image: url("/images/backgrounds/the-mist.gif"); }    
	40% { background-image: url("/images/backgrounds/the-mist.gif"); }
    45% { background-image: url("/images/backgrounds/lab.gif"); }
	60% { background-image: url("/images/backgrounds/lab.gif"); }
    65% { background-image: url("/images/backgrounds/eco-suit.gif"); }
	80% { background-image: url("/images/backgrounds/eco-suit.gif"); }
	85% { background-image: url("/images/backgrounds/ftt.gif"); }
	100% { background-image: url("/images/backgrounds/ftt.gif"); }
    }

#fight-the-tower {
	background-image: url("/images/backgrounds/ftt.gif");
}

#we-are-here-to-help-you {
	background-image: url("/images/backgrounds/wahthy.gif");
}

#the-mist {
	background-image: url("/images/backgrounds/the-mist.gif");
}

#lab {
	background-image: url("/images/backgrounds/lab.gif");
}

#eco-suit {
	background-image: url("/images/backgrounds/eco-suit.gif");
}

@media (min-width: 720px) {
  body {
    font-size: max(3vw);
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    column-gap: 1.2vw;
    padding: 1.2vw;
    padding-right: 0px;
    font-size: max(1.2vw);
  }
}
body .homeContentWrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 1024px) {
  body .homeContentWrap {
    max-width: 31.65vw;
    display: flex !important;
    opacity: 1 !important;
    position: sticky;
    top: 0;
  }
}
body main {
  flex: 1 0 auto;
}
body main .intro, body main .content {
  margin: 1em 0;
}
@media (min-width: 1024px) {
  body main .intro, body main .content {
    margin-top: 0;
  }
}
body main .intro p:not(:last-child), body main .content p:not(:last-child) {
  margin-bottom: 1.4em;
}
body main .intro p a, body main .content p a {
  text-decoration: underline;
  text-decoration-thickness: 0.1ch;
  text-underline-offset: 0.25ch;
}
body .content p:not(:last-child), body .content .articles:not(:last-child) {
  margin-bottom: 1.4em;
}
body .content p a, body .content .articles a {
  text-decoration: none;
}
body .content .instagram-media, body .content .twitter-tweet:not(:last-child), body .content video, body .content img, body .content hr, body .content .fb-post {
  margin-bottom: 1.4em !important;
  max-width: 100% !important;
}
body .content img.noMargin {
  margin-bottom: 0 !important;
}
body footer {
  border-top: 0.2vw solid #bbb;
  margin-top: 3vw;
  padding-top: 3vw;
  font-size: max(3vw);
  flex-shrink: 0;
  background: url("/images/alfonso_cruz_logo_2022.svg") right 98% no-repeat;
  background-size: 15vw;
}

@media (min-width: 720px) {
  body footer {
	font-size: max(2.25vw);
  }
}
@media (min-width: 1024px) {
  body footer {
    background-size: 6vw;
	border-top: none;
    margin-top: 0;
    position: relative;
	font-size: max(0.9vw) !important;
	width: 97.3vw;
  }
footer p{
	max-width: 31.65vw;
}
}
body footer p:not(:last-child) {
  margin-bottom: 1.4em;
}
body footer p a {
  text-decoration: none;
}
body .close {
  position: fixed;
  font-size: max(7.2vw);
  top: 2.7vw;
  right: 2.7vw;
  text-decoration: none;
  z-index: 9000;
  transition: all 0.2s linear;	
}

@media (min-width: 720px) {
body .close {
  font-size: max(3.6vw);
}
}
@media (min-width: 1024px) {
body .close {
  font-size: max(1.2vw);
  top: 1.2vw;
  right: 1.45vw;	
}
}

.ajax-wrapper {
  display: none;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  .ajax-wrapper {
    padding-top: 0;
    width: calc(66.666vw - 22.222%);
    overflow-y: scroll;
    padding-bottom: 0;
  }
}

.fullwidth {
  width: 100%;
}

a {
  cursor: crosshair;
  -moz-transition:color .15s ease-in;
  -o-transition:color .15s ease-in;
  -webkit-transition:color .15s ease-in;		
}


small {
  font-size: max(2.4vw);
  line-height: 1 !important;	
}

.articles {
  font-size: max(2.7vw);
  border-top: solid 1px #bbb;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;	
}

@media (min-width: 720px) {
small, .articles {
  font-size: max(2vw);
}
}

@media (min-width: 1024px) {
small, .articles {
  font-size: max(0.8vw);
}
}

.homeContentWrap p {
  transition: opacity, color 0.2s linear;
}

.articles a {
  -moz-transition:color .15s ease-in;
  -o-transition:color .15s ease-in;
  -webkit-transition:color .15s ease-in;	
}

@media (min-width: 1024px) {
  .articles {
    position: fixed;
    padding-top: 0.5vw;  
    top: 1.2vw;
    left: 77.85vw;
    width: 20.7vw;
    border-top: none;
    z-index: 1;
  }
	
  .articles .fullwidth {
    height: auto !important;
  }
  .ajax-wrapper {
    width: 68.35vw;
  }
  .ajax-wrapper p, .ajax-wrapper img, .ajax-wrapper iframe, .ajax-wrapper hr, .ajax-wrapper video {
    width: 42.6vw !important;
    margin-left: 0;
  }
  .ajax-wrapper .breakout, .ajax-wrapper .landscape {
    width: 64.5vw;
    position: relative;
    z-index: 3000;
  }
  .ajax-wrapper .breakout img, .ajax-wrapper .landscape img {
    width: 100% !important;
  }
  .ajax-wrapper .breakout iframe, .ajax-wrapper .landscape iframe {
    width: 100% !important;
  }
  .ajax-wrapper .articles iframe {
    max-width: 100% !important;
    width: 100% !important;
  }
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ddd;
  padding: 0;
}

body.subpage .ajax-wrapper {
  display: block;
}

.content.loadme.project, body .content.loadme.project, body.subpage .content.loadme.project {
  padding-top: 18vw;
}
@media (min-width: 720px) {
  .content.loadme.project, body .content.loadme.project, body.subpage .content.loadme.project {
    padding-top: 12vw;
}
}	
@media (min-width: 1024px) {
  .content.loadme.project, body .content.loadme.project, body.subpage .content.loadme.project {
    padding-top: 0;
  }
}
.content.loadme.project .projectHeader {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  padding: 2.7vw;
}
@media (min-width: 1024px) {
  .content.loadme.project .projectHeader {
    top: 50%;
    width: 33.333vw;
    padding: 1.2vw;
    transform: translateY(-50%);
	background: transparent;
  }
  .content.loadme.project .projectHeader hr {
    display: none;
  }
}

.content.loadme.project .projectHeader h2 {
  margin-bottom: 1.2vw;
}
.content.loadme.project .projectHeader hr {
  height: 1px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0 !important;
}

.ajax-link {
  position: relative;
}
.ajax-link .projectHover {
  position: fixed;
  left: 32.85vw;
  padding-top: -4vw;	
  padding-left: 1.2vw;	
  width: 42.6vw;
  display: none;
  opacity: 0;
  transition: opacity 0.2s linear;
  pointer-events: none;
}
@media (min-width: 1024px) {
  .ajax-link .projectHover {
    display: block;
	transform: translateY(-1.68vw);  
  }
}

.ajax-link .projectHover em {
  position: relative;
}

.ajax-link:hover .projectHover {
  opacity: 1;
}

.intro.selected .projectHover {
  display: none !important;
}

@media (min-width: 720px) {
  .content .scroller {
    display: flex;
    column-gap: 3vw;
    align-items: flex-start;
    overflow-x: scroll;
    margin-bottom: 1.5vw;
    z-index: 3000;
  }
  .content .scroller iframe, .content .scroller > .twitter-tweet, .content .scroller > img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .content .scroller {
    column-gap: 1.2vw;
	margin-bottom: 1.2vw;
	position: relative;  
  }
}

.portrait, .portrait-small {
  width: 100%;	
}
@media (min-width: 720px) {
.portrait, .portrait-small {
  width: 45vw;
  min-width: 45vw;
}
}
@media (min-width: 1024px) {
.portrait, .portrait-small {
  width: 31.65vw;
  min-width: 31.65vw;
}
}

@media (min-width: 1570px) {
.portrait-small {
  width: 20.7vw;
  min-width: 20.7vw;
}
}

.iframeviewer {
  height: 75vh;
}

@media (min-width: 1024px) {
  #brixtonbridge {
    height: 35vw;
  }
}	

@media (max-width: 1024px) {
  #brixtonbridge {
    height: 50vw;
  }
}

img, video, .iframeviewer {
  border: 1px solid #ddd;	
}

body .content .last-item .twitter-tweet, body .content .last-item .scroller {
  margin-bottom: 0 !important;
}
body .content .last-item .twitter-tweet img, body .content .last-item .scroller img {
  margin-bottom: 0 !important;
}

img + p small {
  margin-top: -20px;
  display: block;
}

.breakout + p small {
  margin-top: 10px;
  display: block;
}

.scroller .portrait {
  min-width: 31.65vw;
}

.scroller .breakout {
  min-width: 64.5vw;
}

.last-item .scroller .portrait iframe, body .content .last-item .breakout img {
  margin-bottom: 0 !important;
}

@media (max-width: 1023px) {
  body.subpage .homeContentWrap {
    display: none;
  }
  body .close {
    top: 2.7vw;
  }
  .scroller > div {
    margin-bottom: 0;
  }
  .last-item {
    margin-bottom: 1.5vw;
  }
}
body.subpage .intro.selected a {
  transition: color 0.3s linear;
}

.content .breakout--has-caption img {
  margin-bottom: 0 !important;
}

.last-item .breakout img {
  display: block;
}

.thumbnail {
	border: 1px solid #ddd;
	position: fixed;
	left: 20.7vw;
	width: 100vw;
	transform: translateY(-6.2vw);  
}

/*# sourceMappingURL=styles.css.map */
