@charset "UTF-8";
/* CSS Document */
body {
  background-color    : rgba(255, 255, 249, 1.0);
  font-family         : "GillSans-Light", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : #666666;
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
  margin              : 0px;
}

a {
  color               : #666666;
  text-decoration     : none;
}

img {
  height              : auto;
  width               : 100%;
  margin-top          : 24px;
  margin-bottom       : 24px;
  margin-left         : auto;
  margin-right        : auto;
}

video  {
  width:100vw;
  min-height: 100vh;
  height:auto;
  object-fit:cover;
  object-position: center center;
}

.video-container {
  height              : 100vh;
  overflow            : hidden;
}

#stopmotion_mobile { 
  display             : block;
}

#stopmotion_desktop { 
  display             : none;
}

hr { 
  border-style        : solid;
  border-width        : 1px;
}

.largefont { 
  font-size           : 24.0px;
  line-height         : 32.0px;
}

.img-with-caption { 
  margin-bottom       : 0px;
}

.logo {
	width             : 17.5%;
	margin-left       : 16px;
	margin-top        : 84px;
	position          : absolute;
	z-index           : 1;
	transform         : rotate(45deg);
}

.menu {
    display           : none;
	width             : auto;
	left              : 16px;
	top               : 84px;
	z-index           : 1;
    height            : auto;
    position          : fixed;
    box-sizing        : border-box;
}

#MB_logo {
  display             : block;
  width               : 33.33vw;
  max-width           : 220px;
  height              : auto;
  text-align          : center;
  margin-top          : 80px;
  margin-left         : auto;
  margin-right        : auto;
}

.block {
  width               : 100%;
  height              : auto;
  min-height          : 100vh;
  position            : relative;
  box-sizing          : border-box;
  margin              : 0px;
  background-color    : rgba(255, 255, 249, 1.0);
  padding             : 80px 16px 50vh 16px;
}

.narrowblock {
  margin-left         : 25%;
  padding-right       : 16px;

}

.img-narrowblock {
  width               : 75%;
}

.textoverimage {
  width               : 100%;
  height              : auto;
  position            : relative;
  box-sizing          : border-box;
  margin              : 0px;
  background-color    : rgba(255, 255, 249, 0.8);
  padding             : 33.33vh 16px 33.33vh 16px;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 50%);
  mask-image: linear-gradient(to top, transparent 0%, black 50%);
}

.fixedbackground {
  background-repeat  : no-repeat;
  background-position : center center;
  background-size     : cover;
  background-attachment: fixed;
  width               : 100%;
  height              : auto;
  min-height          : 100vh;
  position            : relative;
  margin              : 0px;
}

.features {
  background-repeat   : no-repeat;
  background-position : top;
  background-size     : cover;
  background-attachment: fixed;
  background-color    : rgba(255, 255, 249, 1.0);
  width               : 100%;
  height              : auto;
  position            : relative;
  box-sizing          : border-box;
  margin              : 0px;
  padding             : 100vw 16px 32px 16px;
}

#end {
  width            : 100%;
  padding-top      : 25vh;
  margin-left      : auto;
  margin-right     : auto;
}

.next {
  width               : 100%;
  height              : auto;
  min-height          : 100vh;
  position            : relative;
  box-sizing          : border-box;
  margin              : 0px;
  color               : #ffffff;
  background-color    : #CCBBAA;
  padding             : 80px 16px 160px 16px;
  margin-top          : 0px;
}

.CTA {
  background-color    : rgba(255, 255, 249, 1.0);
  text-align          : center;
  border-top          : solid #999999 1.5px;
  display             : block;
  letter-spacing      : 3.0px;
  width               : 100%;
  height              : auto;
  position            : fixed;
  bottom              : 0px;
  box-sizing          : border-box;
  margin              : 0px;
  padding             : 8px;
}

@media screen and (min-width:768px) {
.narrowblock {
  margin-left         : 25%;
}

.img-narrowblock {
  width         : 75%;
}
	
.logo {
  width             : 85px;
  transform         : rotate(0deg);
  display           : block;
  left              : 16px;
  top               : 32px;
  margin-top        : 0px;
  margin-left       : 0px;
  position          : fixed;
  padding-bottom    : 16px;
  border-bottom     : solid #999999 1.75px;

}	
	
.menu {
    display          : block;
}
	
.textoverimage {
  padding-left       : 25%;
}

.features {
  padding             : 100vw 16px 32px 25%;
}
	
.next {
  padding             : 80px 16px 160px 25%;
}
	
#MB_logo {
 width               : 25vw;
}
	
	
#end {
  width            : 75%;	
}
}

@media screen and (min-width:1024px) {
.narrowblock {
  margin-left         : 50%;
}

.img-narrowblock {
  width         : 50%;
}
	
	
.textoverimage {
  padding-left       : 50%;
}

.features {
  padding             : 50vh 16px 50vh 50%;
}
	
.next {
  padding             : 80px 16px 160px 50%;
}
	
#end {
	width            : 66%;
}
}

@media screen and (min-width:1366px) {
img {
  width               : 75%;
  margin-left         : 12.5%;
  margin-right        : 12.5%;
}
	
.narrowblock {
  margin-right         : 12.5%;
}

.img-narrowblock {
  width         : 37.5%;
}
	
	
.textoverimage {
  padding-left        : 25%;
  padding-right       : 25%;
}

.features {
  padding             : 50vh 16px 50vh 75%;
}
	
.next {
  padding             : 80px 33.33% 160px 33.33%;
}
	
#end {
	width            : 50%;
}
}


@media all and (orientation: landscape) {
#super8 { 
  width             : 50vw;
  margin-left       : 50%;
  margin-right             : 16px;	
}

#stopmotion_mobile { 
  display             : none;
}

#stopmotion_desktop { 
  display             : block;
}
}